{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    <div class="row">
        {% for image in value %}
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="{{ asset(image.path) }}" alt="{{ image.title }}" class="img-responsive">
                    <div class="caption">
                        <h4>{{ image.title }}</h4>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-info">No images available</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}